.navigation_container {
    width: 30%;
    z-index: 1000; /* Ensure it is above other elements */
    min-width: fit-content;
    margin: 20px auto;
    height: 50px;
    align-items: center;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #DEDFE0, 0 6px 20px 0 #DEDFE0;
}

.link {
    padding: 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #005ab8;
}

.link:first-of-type {
    margin-left: 0;
}

.link:last-of-type {
    margin-right: 0;
}

.link.active {
    color: #fff;
    background-color: #005ab8;
    border-radius: 15px;
}

.header {
    text-align: center;
}
