@kmx:registry=https://carmax.jfrog.io/artifactory/api/npm/npm/
registry=https://carmax.jfrog.io/artifactory/api/npm/npm/

always-auth=true
auto-install-peers=true
engine-strict=true
strict-peer-dependencies=false
